
<h2> Enter keywords to find related movies </h2>

<form action="/new_search" method="post">

	<div class="row">

        <div class="col-sm-1"> </div>        
        <div class="col-sm-1">Keywords</div>
        <div class="col-sm-3">
        	<input type="term" id="term" name="term">
        </div>
    </div>  
     
 	<br>
    <div class="row">
        <div class="col-sm-1"> </div>        
        <div class="col-sm-1">
            <input type="submit" value="Search">
        </div>
 	    
    </div>
</form>
